
  <style type="text/css">
  .home-slider {
    margin-top:0px!important; 
  }

  .supporting-text {
    color:#ffffff;
    font-size: 30px;
  }

  </style>

 <!-- Home Slider -->
    <div class="home-slider">
        <div class="item">
            <div class="slider-image overlay">
                <img alt="slide" src="http://media.istockphoto.com/photos/people-picture-id541997736?s=2048x2048"  >
            </div>
            <div class="slider-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center intro">It's Time to Take a Stand</h2>
                            <h3 class="text-center supporting-text">Contrary to popular belief, rorem is not simply <br>random text. Contrary to popular belief, rorem is not simply random text.</p>
                            <!--<a class="btn btn-red" href="#">LEARN MORE</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Intro -->
    <div class="intro pd-top-100 pd-bottom-100 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="intro-title">How much <span>time do you have?</span></h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">

    .intro-icon {
      margin-right:10px;
    }

    .intro-icon-text {
      font-size: 24px;
    }

    </style>

    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text"  data-toggle="tab" href="#twominutes">
            <i class="intro-icon fa fa-clock-o" aria-hidden="true"></i> 
              2 Minutes
          </a>
        </div>
        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text" data-toggle="tab" href="#onehour">
            <i class="intro-icon fa fa-hourglass" aria-hidden="true"></i> 
              1 Hour
          </a>
        </div>
        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text"  data-toggle="tab" href="#oneday">
            <i class="intro-icon fa fa-sun-o" aria-hidden="true"></i> 
              1 day
          </a>
        </div>
        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text"  data-toggle="tab" href="#multipledays">
            <i class="intro-icon fa fa-calendar" aria-hidden="true"></i> 
              Multiple Days
          </a>
        </div>

      </div>
    </div>



<!-- Stands -->
    <div class="recent-cause pd-top-80 pd-bottom-50" style="min-height:600px;">
        <div class="container">
          <div class="tab-content">

               <!-- All Start -->
            <div class="row tab-pane fade in active">
                <div class="col-sm-12">
                    <h2 class="section-title">Stands<i class="fa fa-bullhorn"></i></h2>
                </div>
              <% @stands.each do |stand| %>
                <div class="col-sm-3 recent-cause-list">
                    <%= image_tag stand.image.url(:medium) %>
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              <%= stand.completes.count %> people have completed this stand <br>
                              <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, like_stand_path(stand), method: :put %>
                             <%= stand.score %> people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>

            </div>
      <!-- All End -->

   <!-- 2 Minutes Start -->
            <div id="twominutes" class="row  tab-pane fade in">
                <div class="col-sm-12">
                    <h2 class="section-title">2 Minutes<i class="fa fa-clock-o"></i></h2>
                </div>
              <% @two_minutes.each do |stand| %>
                <div class="col-sm-3 recent-cause-list">
                    <%= image_tag stand.image.url(:medium) %>
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              <%= stand.completes.count %> people have completed this stand <br>
                              <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, like_stand_path(stand), method: :put %>
                             <%= stand.score %> people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>

            </div>
      <!-- 2 Minutes End -->

          <!-- 1 Hour -->
            <div class="row tab-pane fade in" id="onehour">
                <div class="col-sm-12">
                    <h2 class="section-title">1 Hour<i class="fa fa-hourglass"></i></h2>
                </div>
              <% @one_hour.each do |stand| %>
                 <div class="col-sm-3 recent-cause-list">
                    <%= image_tag stand.image.url(:medium) %>
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              <%= stand.completes.count %> people have completed this stand <br>
                              <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, like_stand_path(stand), method: :put %>
                             <%= stand.score %> people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
            <!-- 1 Hour End -->

       

    <!-- One Day Start -->
            <div id="oneday" class="row tab-pane fade in">
                <div class="col-sm-12">
                    <h2 class="section-title">1 Day<i class="fa fa-sun-o"></i></h2>
                </div>
              <% @one_day.each do |stand| %>
                <div class="col-sm-3 recent-cause-list">
                    <%= image_tag stand.image.url(:medium) %>
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              <%= stand.completes.count %> people have completed this stand <br>
                              <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, like_stand_path(stand), method: :put %>
                             <%= stand.score %> people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
  <!-- One Day End -->

   <!-- Multiple Days Start -->
            <div id="multipledays" class="row tab-pane fade in">
                <div class="col-sm-12">
                    <h2 class="section-title">Multiple Days<i class="fa fa-calendar"></i></h2>
                </div>
              <% @multiple_days.each do |stand| %>
                 <div class="col-sm-3 recent-cause-list">
                    <%#= image_tag stand.image.url(:medium) %>
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              <%= stand.completes.count %> people have completed this stand <br>
                              <%= link_to '<i class="fa fa-thumbs-up"></i>'.html_safe, like_stand_path(stand), method: :put %>
                             <%= stand.score %> people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
  <!-- Multiple Days End -->


        </div>
      </div>
    </div>
    <%= render 'layouts/calltoaction' %>
  








