
  <style type="text/css">
  .home-slider {
    margin-top:0px!important; 
  }
  </style>

 <!-- Home Slider -->
    <div class="home-slider">
        <div class="item">
            <div class="slider-image">
                <img alt="slide" src="http://www.gethelium.io/wp-content/uploads/2015/06/hel-img.jpg">
            </div>
            <div class="slider-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>It's Time to Take a Stand</h2>
                            <p>Contrary to popular belief, rorem is not simply random text. Contrary to popular belief, rorem is not simply random text.</p>
                            <a class="btn btn-red" href="#">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Intro -->
    <div class="intro pd-top-100 pd-bottom-100 text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="intro-title">How much <span>time do you have?</span></h1>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage</p>
                </div>
            </div>
        </div>
    </div>

    <style type="text/css">

    .intro-icon {
      margin-right:10px;
    }

    .intro-icon-text {
      font-size: 24px;
    }

    </style>

    <div class="container">
      <div class="row">

        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text"  data-toggle="tab" href="#dosomething">
            <i class="intro-icon fa fa-clock-o" aria-hidden="true"></i> 
              2 Minutes
          </a>
        </div>
        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text" data-toggle="tab" href="#saysomething">
            <i class="intro-icon fa fa-hourglass" aria-hidden="true"></i> 
              1 Hour
          </a>
        </div>
        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text"  data-toggle="tab" href="#givesomething">
            <i class="intro-icon fa fa-sun-o" aria-hidden="true"></i> 
              1 day
          </a>
        </div>
        <div class="col-sm-3">
          <a class="btn-donate intro-icon-text"  data-toggle="tab" href="#givesomething">
            <i class="intro-icon fa fa-calendar" aria-hidden="true"></i> 
              Multiple Days
          </a>
        </div>

      </div>
    </div>



<!-- Stands -->
    <div class="recent-cause pd-top-80 pd-bottom-50" style="min-height:600px;">
        <div class="container">
          <div class="tab-content">

          <!-- Say Something Start -->
            <div class="row tab-pane fade in" id="saysomething">
                <div class="col-sm-12">
                    <h2 class="section-title">Say Something<i class="fa fa-bullhorn"></i></h2>
                </div>
              <% @say_something.each do |stand| %>
                <div class="col-sm-3 recent-cause-list">
                    <img alt="cause" src="http://lineartheme.com/themes/becharity/images/causes/9.jpg">
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              342 people have completed this stand <br>
                              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                              642 people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
            <!-- Say Something End -->

        <!-- Do Something Start -->
            <div id="dosomething" class="row  tab-pane fade in">
                <div class="col-sm-12">
                    <h2 class="section-title">2 Minutes<i class="fa fa-clock-o"></i></h2>
                </div>
              <% @do_something.each do |stand| %>
                <div class="col-sm-3 recent-cause-list">
                    <img alt="cause" src="http://lineartheme.com/themes/becharity/images/causes/9.jpg">
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              342 people have completed this stand <br>
                              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                              642 people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>

            </div>
  <!-- Do Something End -->

    <!-- Give Something Start -->
            <div id="givesomething" class="row tab-pane fade in">
                <div class="col-sm-12">
                    <h2 class="section-title">Give Something<i class="fa fa-gift"></i></h2>
                </div>
              <% @give_something.each do |stand| %>
                <div class="col-sm-3 recent-cause-list">
                    <img alt="cause" src="http://lineartheme.com/themes/becharity/images/causes/9.jpg">
                    <div class="recent-cause-summary">
                        <div class="recent-cause-content">
                            <h3 class="recent-cause-title"><%= stand.title %></h3>
                            <div class="cause-location">
                              <i class="fa fa-clock-o" aria-hidden="true"></i> 
                              <%= stand.time %><br>
                               <i class="fa fa-check-circle" aria-hidden="true"></i> 
                              342 people have completed this stand <br>
                              <i class="fa fa-thumbs-up" aria-hidden="true"></i> 
                              642 people have liked this stand<br>
                            </div>
                            <%= link_to "Learn More", stand, :class => "btn mg-top-40" %>
                        </div>
                    </div>
                </div>
              <% end %>
            </div>
  <!-- Give Something End -->


        </div>
      </div>
    </div>
  








