<h1>Time to Take a Stand</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Submitted By</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stands.each do |stand| %>
      <tr>
        <td><%= stand.title %></td>
        <td><%= stand.user.email %></td>
        <td>
        	<%= link_to 'Like'.html_safe, like_stand_path(stand), method: :put %>
            <%= stand.score %>
        </td>
        <td><%= link_to 'Show', stand %></td>
      </tr>
    <% end %>
  </tbody>
</table>

