<p id="notice"><%= notice %></p>

 <!-- Page title -->
    <div class="page-title-section">
        <div class="page-title-wrap">
            <div class="page-title-overlay"></div>
            <div class="page-title-info">
                <h1 class="page-title">Add a New Stand</h1>
            </div>
        </div>
    </div>
    
    <!-- contact-section start -->
    <div class="faq-main mg-top-100 mg-bottom-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 contact-main mg-bottom-50">
                  <%= link_to 'Add Stand', new_stand_path, :class => "btn", :style => "float:right;" %>

                    <table class="table">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Submitted By</th>
                          <th>Time to Complete</th>
                          <th>Status</th>                          
                          <th colspan="3">Actions</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @stands.each do |stand| %>
                          <tr>
                            <td><%= link_to stand.title, stand %></td>
                            <td><%= stand.user.email %></td>
                            <td><%= stand.time.capitalize %></td>
                            <td><%= stand.status %></td>
                            <td>
                                <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_stand_path(stand), :class => "btn" %>
                                <%= link_to '<i class="fa fa-trash"></i>'.html_safe, stand, :class => "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

