
  <!-- Page title -->
    <div class="page-title-section" style="background-image: url('images/page-title/2.jpg');">
        <div class="page-title-wrap">
            <div class="page-title-overlay"></div>
            <div class="page-title-info">                
                <h1 class="page-title"><%= @stand.title %></h1>
            </div>
        </div>
    </div>

    <!-- blog start -->
    <div class="cause-details-section pd-top-100 mg-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3" id="cause-sticky">
                    <div class="sidebar-left">
                        <a class="btn-donate" href="#" data-toggle="modal" data-target="#stand"onclick="window.open('<%= @stand.url %>'); return true;">view website</a>
                        <div class="cause-leader hidden-xs">
                            <h3>About the Org</h3>
                            <div class="thumb">
                               <%= image_tag @stand.image.url(:medium) %>
                            </div>
                            <p>Contrary to popular belief, is not simply random text. It has roots in a piece of classical, from a passage, and going through the cites of the word in classical literature,</p>
                            <span class="cause-mail"><i class="fa fa-envelope-o"></i>info@becharity.com</span>
                            <div class="social">
                                <a href="#"><i class="fa fa-facebook-square"></i></a>
                                <a href="#"><i class="fa fa-twitter-square"></i></a>
                                <a href="#"><i class="fa fa-google-plus-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cause-details">
                                <div class="row">
                                    <div class="col-sm-6 col-md-8">
                                        <div class="tag">
                                            <i class="fa fa-clock-o"></i><%= @stand.time %> to complete this stand<br>
                                            <i class="fa fa-bullhorn"></i>Say Something
                                        </div>
                                        <div class="cause-summary">
                                            <h3 style="">Stand Summary</h3>
                                            <p>Contrary to popular belief, is not simply random text. It has roots in a piece of classical, from a passage, and going through the cites of the word in classical literature, discovered the ource of "de Finibus Bonorum et " (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, " dolor sit amet..", comes from a line in section 1.10.32.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="fund">
                                            <div class="fund-top">
                                                <h3>2,321</h3>
                                                <h5 class="fund-title"><i class="fa fa-thumbs-up" aria-hidden="true"></i>people have liked this stand</h5>
                                            </div>
                                            <div class="fund-bottom">
                                                <h3>321</h3>
                                                <h5 class="fund-title"> <i class="fa fa-check-circle" aria-hidden="true"></i>people have completed this stand</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="comment-header">COMPLETE THE STAND</h3>
                            <div class="blog-reply">
                              <%= render 'join' %>
                            </div>
                            <div class="blog-comment">
                            <h3 class="comment-header"><%#= @stand.count %> COMMENTS</h3>
                            <% @stand.completes.each do |complete| %>
                             <div class="media">
                                <div class="media-left">
                                      <img src="<%= complete.user.image if complete.comment %>" alt="image" class="img-circle" />
                                </div>
                                <div class="media-body">
                                    <span class="comment-title"><%= complete.user.name if complete.comment %></span>
                                    <span class="comment-date"><i class="fa fa-clock-o"></i><%= complete.created_at %></span>
                                    <p>"<%= complete.comment %>"</p>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Call to action -->
    <div class="call-to-action pd-top-80 pd-bottom-100">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Do you have an idea for a stand?</h2>
                    <p>Submit your idea below.</p>
                    <a class="btn btn-red mg-top-30" href="">Submit Idea</a>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="stand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Did you complete the stand?</h4>
      </div>
      <div class="modal-body">
        Join the other 4,323 people that have completed a stand.
      </div>
      <div class="modal-footer">
         <%= render 'join' %>
      </div>
    </div>
  </div>
</div>