    <!-- blog start -->
    <div class="single-blog-section pd-top-100 pd-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3" id="cause-sticky">
                    <div class="sidebar-left">
                        <a class="btn-donate" href="donation.html">view stand</a>
                        <a class="btn-donate complete" href="donation.html">complete stand</a>
                        <div class="widget widget-recent">
                                <h3 class="recent-title">Recent Stands</h3>
                                <ul>
                                    <li>
                                        <div class="thumb">
                                            <a href="#"><img src="images/blog/4.jpg" alt="blog"></a>
                                        </div>
                                        <a href="#">Donec rutrum hendrerit pretium sed eu semper purus.</a>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#"><img src="images/blog/5.jpg" alt="blog"></a>
                                        </div>
                                        <a href="#">Making it over 2000 years old.</a>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#"><img src="images/blog/6.jpg" alt="blog"></a>
                                        </div>
                                        <a href="#">Nunc ullamcorper porta mauris at aliquet.</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cause-details">
                                <div class="row stand-info">
                                    <div class="col-sm-6 col-md-8">
                                        <div class="meta-list">
                                            <span><a href="#"><i class="fa fa-qrcode"></i>BC25843</a></span>
                                            <span><a href="#"><i class="fa fa-globe"></i>iNicaragua</a></span>
                                        </div>
                                        <div class="tag">
                                            <i class="fa fa-tags"></i><a href="#">Children</a>, <a href="#">Sports</a>, <a href="#">Cancer</a>, <a href="#">Food</a>
                                        </div>
                                        <div class="catagory">
                                            <i class="fa fa-folder-open" aria-hidden="true"></i> <a href="#">Cancer</a>, <a href="#">Food</a>
                                        </div>
                                        <div class="cause-summary">
                                            <h3 style="">Stand Summary</h3>
                                            <p><%= @stand.description %></p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4">
                                        <div class="fund">
                                            <div class="fund-top">
                                                <h3>352 people</h3>
                                                <h5 class="fund-title">have completed this stand</h5>
                                            </div>
                                            <div class="fund-bottom">                                                
                                                <h3>1,052 people</h3>
                                                <h5 class="fund-title">haved liked this stand</h5>
                                                <div class="fund-progress">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="cause-goal">
                                            <h3>Title</h3>
                                            <p><%= @stand.title %></p>
                                                <p>
                                                  <strong>URL:</strong>
                                                  <%= @stand.url %>
                                                </p>
                                                <p>
                                                  <strong>Type of Action:</strong>
                                                  <%= @stand.type_of_stand %>
                                                </p>
                                                <p>
                                                  <strong>Time:</strong>
                                                  <%= @stand.time %>
                                                </p>
                                                <p>
                                                  <strong>Action:</strong>
                                                  <%= @stand.action %>
                                                </p>

                                                <%= link_to 'Edit', edit_stand_path(@stand) %> |
                                                <%= link_to 'Back', stands_path %>
                                                <!-- Page title --></p>
                                        </div>
                                        <div class="cause-feature">
                                            <h3>Challenge</h3>
                                            <ul class="feature-list">
                                                <li><i class="fa fa-user"></i> Contrary to popular belief,</li>
                                                <li><i class="fa fa-cog"></i>Latin literature from 45 BC, making it over 2000 years old. Contrary to belief</li>
                                                <li><i class="fa fa-bookmark"></i>Editors now use as their default model text, and a search for will uncover many web sites still in their infancy.</li>
                                                <li><i class="fa fa-map-marker"></i>Model text, and a search for will uncover many web sites still in their infancy.</li>
                                                <li><i class="fa fa-thumbs-o-up"></i>Many web sites still in their infancy</li>
                                            </ul>
                                        </div>
                                        <div class="cause-solution">
                                            <h3>Solution</h3>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Contrary to popular belief. is not simply random text. It has roots in a piece45 BC, making it over 2000 years old. Contrary to popular belief.</p>
                                        </div>
                                        <hr>
                          
                                        <div class="blog-comment">
                                          <h3 class="comment-header">COMPLETE THE STAND</h3>
                                          <div class="blog-reply mg-bottom-100">
                                              <form class="contact-form" action="#" method="POST">
                                                  <label class="contact-title" for="message">Comment</label>
                                                  <textarea id="message" class="input-message" name="message" rows="7" cols="30" placeholder="Type message here........."></textarea>
                                                  <input class="btn" type="submit" value="I COMPLETED THIS ACTION">
                                              </form>
                                          </div>
                                          <h3 class="comment-header">3 COMMENTS</h3>
                                          <div class="media">
                                              <div class="media-left">
                                                  <img src="images/reviewer/2.jpg" alt="image">
                                              </div>
                                              <div class="media-body">
                                                  <span class="comment-title">Name</span>
                                                  <span class="comment-date"><i class="fa fa-calendar-o"></i>21 January, 2016 at 10:00am</span>
                                                  <p>Donec rutrum Donec rutrum hendrerit pretium. Sed eu semper purus. Nunc ullamcorper porta mauris at aliquet. hendrerit pretium. Sed eu semper purus. Nunc ullamcorper porta mauris at aliquet.</p>
                                                  <a href="#"><i class="fa fa-reply"></i> Reply</a>
                                              </div>
                                          </div>
                                          <div class="media">
                                              <div class="media-left">
                                                  <img src="images/reviewer/3.jpg" alt="image">
                                              </div>
                                              <div class="media-body">
                                                  <span class="comment-title">Client Name</span>
                                                  <span class="comment-date"><i class="fa fa-calendar-o"></i>21 January, 2016 at 10:00am</span>
                                                  <p>Donec rutrum hendrerit pretium. Sed eu semper purus. Nunc ullamcorper porta mauris at aliquet.</p>
                                                  <a href="#"><i class="fa fa-reply"></i> Reply</a>
                                              </div>
                                          </div>
                                          <div class="media">
                                              <div class="media-left">
                                                  <img src="images/reviewer/4.jpg" alt="image">
                                              </div>
                                              <div class="media-body">
                                                  <span class="comment-title">Client Name</span>
                                                  <span class="comment-date"><i class="fa fa-calendar-o"></i>21 January, 2016 at 10:00am</span>
                                                  <p>Donec rutrum hendrerit pretium. Sed eu semper purus. Nunc ullamcorper porta mauris at aliquet.</p>
                                                  <a href="#"><i class="fa fa-reply"></i> Reply</a>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- Call to action -->
    <div class="call-to-action pd-top-80 pd-bottom-100">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Have an idea for a stand we can add?</h2>
                    <p>Click below and fill out the form to request a stand to be added to the site.</p>
                    <a class="btn btn-red mg-top-30" href="">Add a Stand</a>
                </div>
            </div>
        </div>
    </div>
