    <!-- blog start -->
    <div class="single-blog-section pd-top-100 pd-bottom-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3" id="cause-sticky">
                    <div class="sidebar-left">
                        <a class="btn-donate" href="#" data-toggle="modal" data-target="#stand"onclick="window.open('<%= @stand.url %>'); return true;">view website</a>
                        <div class="widget widget-recent">
                                <h3 class="recent-title">Recent Stands</h3>
                                <ul>
                                    <li>
                                        <div class="thumb">
                                            <a href="#"><img src="images/blog/4.jpg" alt="blog"></a>
                                        </div>
                                        <a href="#">Donec rutrum hendrerit pretium sed eu semper purus.</a>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#"><img src="images/blog/5.jpg" alt="blog"></a>
                                        </div>
                                        <a href="#">Making it over 2000 years old.</a>
                                    </li>
                                    <li>
                                        <div class="thumb">
                                            <a href="#"><img src="images/blog/6.jpg" alt="blog"></a>
                                        </div>
                                        <a href="#">Nunc ullamcorper porta mauris at aliquet.</a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="cause-details">
                                <div class="row stand-info">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="cause-goal">
                                          <div class="meta-list">
                                            <span><a href="#"><i class="fa fa-qrcode"></i>BC25843</a></span>
                                            <span><a href="#"><i class="fa fa-globe"></i>iNicaragua</a></span>
                                        </div>
                                            <h3>Title</h3>
                                            <p><%= @stand.title %></p>
                                                <p>
                                                  <strong>URL:</strong>
                                                  <%= @stand.url %>
                                                </p>
                                                <p>
                                                  <strong>Type of Action:</strong>
                                                  <%= @stand.type_of_stand %>
                                                </p>
                                                <p>
                                                  <strong>Time:</strong>
                                                  <%= @stand.time %>
                                                </p>
                                                <p>
                                                  <strong>Action:</strong>
                                                  <%= @stand.action %>
                                                </p>

                                                <%= link_to 'Edit', edit_stand_path(@stand) %> |
                                                <%= link_to 'Back', stands_path %>
                                                <!-- Page title --></p>
                                        </div>
                                        <div class="cause-feature">
                                            <h3>Challenge</h3>
                                            <ul class="feature-list">
                                                <li><i class="fa fa-user"></i> Contrary to popular belief,</li>
                                                <li><i class="fa fa-cog"></i>Latin literature from 45 BC, making it over 2000 years old. Contrary to belief</li>
                                                <li><i class="fa fa-bookmark"></i>Editors now use as their default model text, and a search for will uncover many web sites still in their infancy.</li>
                                                <li><i class="fa fa-map-marker"></i>Model text, and a search for will uncover many web sites still in their infancy.</li>
                                                <li><i class="fa fa-thumbs-o-up"></i>Many web sites still in their infancy</li>
                                            </ul>
                                        </div>
                                        <div class="cause-solution">
                                            <h3>Solution</h3>
                                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Contrary to popular belief. is not simply random text. It has roots in a piece45 BC, making it over 2000 years old. Contrary to popular belief.</p>
                                        </div>
                                        <hr>
                          
                                        <div class="blog-comment">
                                          <h3 class="comment-header">COMPLETE THE STAND</h3>
                                          <div class="blog-reply mg-bottom-100">
                                              <form class="contact-form" action="#" method="POST">
                                                  <label class="contact-title" for="message">Comment</label>
                                                  <textarea id="message" class="input-message" name="message" rows="7" cols="30" placeholder="Type comment here..."></textarea>
                                                  <input class="btn" type="submit" value="I COMPLETED THIS STAND">
                                              </form>
                                          </div>
                                          <h3 class="comment-header">3 PEOPLE HAVE COMPLETED THIS STAND</h3>
                                          <div class="media">
                                              <div class="media-left">
                                                  <img src="https://scontent.fphl1-1.fna.fbcdn.net/v/t1.0-9/13932819_10206480194463356_6944928735406978454_n.jpg?oh=33b5466651a92f539720d230056570c2&oe=593A21A4" alt="image">
                                              </div>
                                              <div class="media-body">
                                                  <span class="comment-title">Name</span>
                                                  <span class="comment-date"><i class="fa fa-calendar-o"></i>21 January, 2016 at 10:00am</span>
                                                  <p>Donec rutrum Donec rutrum hendrerit pretium. Sed eu semper purus. Nunc ullamcorper porta mauris at aliquet. hendrerit pretium. Sed eu semper purus. Nunc ullamcorper porta mauris at aliquet.</p>
                                              </div>
                                          </div>

                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- Call to action -->
    <div class="call-to-action pd-top-80 pd-bottom-100">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Have an idea for a stand we can add?</h2>
                    <p>Click below and fill out the form to request a stand to be added to the site.</p>
                    <a class="btn btn-red mg-top-30" href="">Add a Stand</a>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="stand" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Did you complete the stand?</h4>
      </div>
      <div class="modal-body">
        Join the other 4,323 people that have completed a stand.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary text-center">Complete this Stand</button>
      </div>
    </div>
  </div>
</div>