<!DOCTYPE html>
<html>
<head>
  <title>Time To Take a Stand</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

  <!-- Theme End -->

</head>
<body>
<%= render 'layouts/header' %>
<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'layouts/footer' %>
</body>
</html>
