<!DOCTYPE html>
<html>
<head>
  <title>Time To Take a Stand</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Theme Start -->

  <style type="text/css">
  .home-slider {
    margin-top:0px!important; 
  }
  </style>

    <!--Fav and touch icons-->
    <link rel="icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">

    <!--Common Styles Plugins-->
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/css/animate.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/css/magnific-popup.css">

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <!--Custom Style-->
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/style.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/space.css">
    <link rel="stylesheet" type="text/css" href="http://lineartheme.com/themes/becharity/responsive.css">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->

  <!-- Theme End -->

</head>
<body>
<%= render 'layouts/header' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

<!-- Theme Footer Scripts Start -->
    <!--Common JS Plugin-->
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/retina.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery.easing.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery.scrollUp.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/headroom.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jQuery.headroom.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/sticky-kit.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery.waypoints.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="http://lineartheme.com/themes/becharity/js/jquery.counterup.min.js"></script>


<!-- Theme Footer Scripts End -->

</body>
</html>
